<template>
  <v-container>
    <v-autocomplete
      :key="citiesKey"
      :items="cities"
      v-model="citySelected"
      v-model:search="citySearch"
      :hint="citySelected != null ? citySelected.context : ''"
      persistent-hint
      label="Commune"
      item-value="code"
      item-title="name"
      cache-items
      clearable
      return-object
      :loading="cityLoading"
      prepend-icon="mdi-city"
    >
      <template v-slot:item="{ props, item }">
        <v-list-item
          v-bind="props"
          :title="item.value.name"
          :subtitle="item.value.context"
        ></v-list-item> </template
    ></v-autocomplete>
    <span v-if="false">
      zoom : {{ zoom }} center: {{ center }} bounds: {{ bounds }}</span
    >
    <div id="mapid" style="height: 600px; width: 100%"></div>
  </v-container>
</template>
<script lang="ts" setup>
import { watch, ref, onMounted } from "vue";
import { getCities_By_Name, getCity_By_Coordinates } from "@/api/city";
import { useReferentsStore } from "@/store/useReferents";
import { useCurrentsObservationStore } from "@/store/useCurrentObservations";
import { usePreviousObservationsStore } from "@/store/usePreviousObservations";
import { useDepartmentsStore } from "@/store/useDepartments";
import { usePrefecturalDecreesStore } from "@/store/usePrefecturalDecrees";
import { useRisquePollenStore } from "@/store/useRisquePollen";
import { City } from "@/types/city";
import L, { Map } from "leaflet";
import "leaflet/dist/leaflet.css";

import { LayerGroup } from "leaflet";
import { InfoCustomControl } from "@/leaflet/infoCustomControl";
import { LogoCustomControl } from "@/leaflet/logoCustomControl";
import { HistoCustomControl } from "@/leaflet/histoCustomControl";
import { HistoLegendCustomControl } from "@/leaflet/histoLegendCustomControl";
// import { createPinia } from "pinia";

import "leaflet.markercluster";
// import "leaflet.markercluster/dist/MarkerCluster.Default.css";
import { icon } from "leaflet";
import { features } from "process";

// STORE
const referentsStore = useReferentsStore();
const currentsObservationStore = useCurrentsObservationStore();
const previousObservationsStore = usePreviousObservationsStore();
const departmentsStore = useDepartmentsStore();
const prefecturalDecreesStore = usePrefecturalDecreesStore();
const risquePollenStore = useRisquePollenStore();

watch(
  () => currentsObservationStore.isloaded,
  (newValue) => {
    if (newValue) {
      const clusteredCurrentObservations = L.markerClusterGroup({
        showCoverageOnHover: false,
        spiderfyOnMaxZoom: false,
        disableClusteringAtZoom: 12,
        maxClusterRadius: 60,
        iconCreateFunction: function (cluster) {
          const n = cluster.getAllChildMarkers().length;
          const largeur = n < 10 ? 30 : (''+n).length * 10 + 10;
          return L.divIcon({
            iconSize: [largeur, 30],
            html: n,
            className: "icone-cluster"
          });
			  }
      });
      clusteredCurrentObservations.addLayer(currentsObservationStore.layer);
      clusteredCurrentObservations.addTo(mymap);
      layerControl.addOverlay(clusteredCurrentObservations, "Observations2023");
    } else {
      mymap.removeLayer(currentsObservationStore.layer);
      //layerControl.removeLayer(referentsStore.referentLayer);
    }
  }
);
watch(
  () => departmentsStore.toDisplay,
  (newValue) => {
    if (newValue) {
      departmentsStore.layer.addTo(mymap);
      mymap.addControl(histoControl);
      // mymap.addControl(histoLegendControl);
    } else {
      mymap.removeLayer(departmentsStore.layer);
      layerControl.removeLayer(departmentsStore.layer);
      mymap.removeControl(histoControl);
      //   mymap.removeControl(histoLegendControl);
    }
  }
);

// watch(
//   () => previousObservationsStore.isloaded,
//   (newValue) => {
//     if (newValue) {
//       const clusteredCurrentObservations = L.markerClusterGroup({
//         showCoverageOnHover: false,
//         spiderfyOnMaxZoom: false,
//         disableClusteringAtZoom: 12,
//         maxClusterRadius: 60,
//         iconCreateFunction: function (cluster) {
//           const n = cluster.getAllChildMarkers().length;
//           const largeur = n > 99 ? 40 : 30;
//           return L.divIcon({
//             iconSize: [largeur, 30],
//             html: n,
//             className: "icone-cluster",
//           });
//         },
//       });
//       clusteredCurrentObservations.addLayer(previousObservationsStore.layer);
//       clusteredCurrentObservations.addTo(mymap);
//     }
//   }
// );

watch(
  () => previousObservationsStore.toDisplay,
  (newValue) => {
    console.log(
      "previousObservationsStore dipslay",
      previousObservationsStore.toDisplay
    );
    if (newValue) {
      if (!mymap.hasLayer(previousObservationsStore.layer)) {
        //   previousObservationsStore.layer.addTo(mymap);
        mymap.addLayer(previousObservationsStore.layer);
        layerControl.addOverlay(
          previousObservationsStore.layer,
          "Historique des signalements (détail)"
        );
      }
    } else {
      if (mymap.hasLayer(previousObservationsStore.layer)) {
        mymap.removeLayer(previousObservationsStore.layer);
        //previousObservationsStore.layer.visible = false;
        layerControl.removeLayer(previousObservationsStore.layer);
      }
    }
  }
);

// MAP Properties
let mymap: Map;

const infoControl = new InfoCustomControl({ position: "topleft" });
const logoControl = new LogoCustomControl({ position: "bottomleft" });
const histoControl = new HistoCustomControl({ position: "bottomright" });
const histoLegendControl = new HistoLegendCustomControl({
  position: "bottomright",
});

const currentGroup: LayerGroup = L.layerGroup();

const osm = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
  maxZoom: 19,
  attribution: "© OpenStreetMap",
});
const baseMaps = {};
const layerControl = L.control.layers(baseMaps, {}, { collapsed: false });
const zoom = ref(12);
const center = ref<L.LatLng>(new L.LatLng(46.76782, 2.43129));
const bounds = ref<L.LatLngBounds>();
// MAP DATA

// #### Departments
const loadDepartmentsLimits = () => {
  departmentsStore.load();
};

// #### Previous Observation
const loadPreviousObservations = () => {
  previousObservationsStore.load();
};

const loadCurrentObservations = () => {
  currentsObservationStore.load();
};

const handleZoomChanged = () => {
  console.log("zoom", mymap.getZoom());
  zoom.value = mymap.getZoom();

  departmentsStore.toDisplay =
    departmentsStore.isloaded &&
    departmentsStore.minZoom <= mymap.getZoom() &&
    departmentsStore.maxZoom >= mymap.getZoom();

  previousObservationsStore.toDisplay =
    previousObservationsStore.isloaded &&
    previousObservationsStore.minZoom <= mymap.getZoom() &&
    previousObservationsStore.maxZoom >= mymap.getZoom();
};

onMounted(() => {
  mymap = L.map("mapid", {
    zoomControl: false,
    minZoom: 6,
    maxBounds: [
      // South West
      [36.932, -8.701],
      // North East
      [53.605, 13.381],
    ],
  });

  L.control.zoom({ position: "bottomright" }).addTo(mymap);

  osm.addTo(mymap);

  mymap.on("zoomend", function () {
    handleZoomChanged();
  });

  prefecturalDecreesStore.load();
  risquePollenStore.load();
  loadDepartmentsLimits();
  loadPreviousObservations();
  // loadReferents();
  // Mis en cache des référents
  referentsStore.loadReferents();
  loadCurrentObservations();

  currentGroup.eachLayer(function (layer) {
    layer.on("click", function () {
      console.log("layer", currentGroup);
    });
  });
  currentGroup.addTo(mymap);
  mymap.setView([46.875213, 2.351074], 6);
  layerControl.addTo(mymap);
  logoControl.addTo(mymap);
  infoControl.addTo(mymap);
  histoControl.addTo(mymap);
  // histoLegendControl.addTo(mymap);
  layerControl.expand();
  mymap.addEventListener("click", function (ev) {
    const villeCliquee = () => {
      getCity_By_Coordinates(ev.latlng.lat, ev.latlng.lng, {}).then(
        (response) => (citySelected.value = response)
      );
    };

    villeCliquee();
  });

  mymap.on("overlayadd", function (e) {
    if (e.name == "Historique des signalements") {
      histoControl.addTo(mymap);
      // histoLegendControl.addTo(mymap);
    }
  });
  mymap.on("overlayremove", function (e) {
    if (e.name == "Historique des signalements") {
      mymap.removeControl(histoControl);
      //mymap.removeControl(histoLegendControl);
    }
  });

  mymap.addEventListener("moveend", function (ev) {
    center.value = mymap.getCenter();
    bounds.value = mymap.getBounds();

    /*
    if (zoom.value >= 10) {
      loadCurrentCity();
    }
    */
  });
});

/// CITY
const citiesKey = ref(0);
const cities = ref<City[]>([]);
const citySelected = ref<City | null | undefined>(null);
const citySearch = ref("");
const cityLoading = ref(false);

watch(citySearch, (value) => {
  if (value && value.length > 2) {
    searchCity(value);
  }
});

watch(citySelected, (value) => {
  if (value && value.coordinates) {
    center.value = new L.LatLng(value.coordinates?.lat, value.coordinates?.lng);
    zoom.value = 12;
    mymap.setView([value.coordinates?.lat, value.coordinates?.lng], 13);
  }

  mymap.removeControl(infoControl);
  infoControl.city = value;

  infoControl.addTo(mymap);
});

const searchCity = (v: string) => {
  cityLoading.value = true;
  getCities_By_Name({ q: v }).then((response: City[]) => {
    cities.value = response;
    cityLoading.value = false;
  });
};

const cityBoundsLayer = ref();
const loadCurrentCity = () => {
  getCity_By_Coordinates(center.value.lat, center.value.lng, {}).then(
    (response) => {
      console.log("city", response);
      citySelected.value = response;
      if (response?.geojson) {
        cityBoundsLayer.value = L.geoJson(response?.geojson);

        cityBoundsLayer.value.addTo(mymap);
        //mymap.fitBounds( cityBoundsLayer.value.getBounds())
      }
    }
  );
};

/// FIN CITY

//// Interface
const rail = ref(false);
///
</script>
<style scoped lang="scss"></style>
