<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
    <v-footer app class="text-center">
      <div class="d-flex align-center justify-center">
        <img class="logo-GD4H" src="./assets/GD4H.png" alt="logo-GD4H">
      </div>
      <v-spacer></v-spacer>
    </v-footer>
  </v-app>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.logo-GD4H {
  max-width: 100%;
}


</style>
