.container {
    background-color : white;
    width : 16em;
    height : 3em;
    margin : 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.slider {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}