.icone-signalement {
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    color: black;
    line-height: 21px;
}

.icone-signalement-histo {
    background-color: rgb(245, 245, 245);
    border: solid 1px grey;
    border-radius: 50%;
    font-weight: 400;
    font-size: 16px;
    color: lightgrey!important;
    line-height: 21px;
}

.icone-cluster {
    background-color: white;
    border: solid 1px black;
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 26px;
}