<template>
  <div class="home">
    <leaflet-component />
  </div>
</template>

<script lang="ts" setup>
import LeafletComponent from "@/components/LeafletComponent.vue"; // @ is an alias to /src
</script>
